/*Inner Right Panel Links*/

.content p {
    font-size: 13px;
}

.innerRightPanel {
    background-color: #f1c40f;
}

.innerRightPanel ul {
    list-style: none;
    text-align: left;
    padding: 0px;
}

.innerRightPanel ul li {
    text-align: left;
}

.innerRightPanel ul li a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.innerRightPanel ul li a:hover {
    color: #e74c3c;
}


/*----------------------------------
    anchor tag custom styling
-----------------------------------*/

a.a-link-arrow {
    color: #404d5b;
    text-decoration: none;
    outline: none;
    font-size: 20px;
}

aa-link-arrow:hover,
a.a-link-arrow:active,
a.a-link-arrow:visited {
    color: #404d5b;
    text-decoration: none;
    outline: none;
}

section {
    position: relative;
    z-index: 1;
    backface-visibility: hidden;
}

section a.a-link-arrow {
    outline: none;
    color: #404d5b;
    text-decoration: none;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    vertical-align: bottom;
}

section a.a-link-arrow::before,
section a.a-link-arrow::after {
    pointer-events: none;
    backface-visibility: hidden;
}

.link-arrow {
    background: rgba(255, 255, 255, 0.4);
}

.link-arrow a.a-link-arrow {
    left: 20px;
    padding: 0 0.25em;
    font-weight: 500;
    font-size: 13px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.link-arrow a.a-link-arrow:hover {
    -webkit-transform: translateX(1em);
    transform: translateX(1em);
    color:#2980b9;
}
/*

.link-arrow a.a-link-arrow::after {
    -webkit-transform: translateX(-1em);
    transform: translateX(-1em);
}
*/

.link-arrow a.a-link-arrow::before,
.link-arrow a.a-link-arrow::after {
    position: absolute;
    height: 100%;
    content: '';
}

.link-arrow a.a-link-arrow::before {
    left: -100%;
    z-index: -1;
    width: 100%;
    background: #fff;
}
/*

.link-arrow a.a-link-arrow::after {
    left: 100%;
    z-index: -2;
    width: 1em;
    background: #34495e url(../img/arrow_right.svg) no-repeat 50% 50%;
    background-size: 60% auto;
    text-align: center;
    font-family: Arial, sans-serif;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    pointer-events: auto;
}

.link-arrow a.a-link-arrow:hover::after,
.link-arrow a.a-link-arrow:focus::after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
*/

.link-arrow a.a-link-arrow::before {
    left: 0px;
    z-index: -1;
    width: 100%;
    background: #f3f3f3;
}

.link-arrow {
    background: rgba(255, 255, 255, 0);
}

.link-arrow a.a-link-arrow {
    left: 10px;
}

.menu-list ul li {
    background: transparent;
}

.side-menu {
    background: transparent;
}

.content-right {
    background: transparent;
    box-shadow: none;
}
