/* custom styles for law page */


.big .navbar-brand img{
    max-height: 98px;
}


.mainImg{
    width: 100%;
    position: relative;
    z-index: 0;
}

.mainImg:before{
    content: " ";
    position: absolute;
    top:0;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: rgba(52, 73, 94, 0.6);
    z-index: 99;
}

center .mainheading h4{
    text-align: center;
}

center .mainheading span{
    font-size: 20px;
}

center .mainheading span strong{
    font-size: 24;
}



/*floating division styling */

.floatDiv{
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100%;
    padding: 50px 0;
    background: linear-gradient(90deg,transparent,rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7));
}


.deanary{
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
    cursor: pointer;
    color: #fff;
}

.deanary>.iconDiv>i{
    background-color: transparent;
    text-align: center;
    padding: 25px;
    border-radius: 50%;
    font-size: 1.6em;
    color: #fff;
    border: 1px solid #e79800;
    transition: all ease-in-out .3s;
}

.deanary:hover>.iconDiv>i{
    background-color: #fff;
    color: #e79800;
    border: 1px solid #c7c7c7;
    box-shadow: 0px 4px 10px #c7c7c7;
}

.deanary>h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all ease-in-out .3s;    
}

.deanary:hover>h3{
    color: #e79800;
}

.deanary>p{
    font-size: 12px;
    margin: 20px 0;
    font-weight: thin;
    letter-spacing: 1px;
    line-height: 1.6em;
    color: #ccc;
}

.deanary>a{
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: all ease-in-out .3s;
}

.deanary:hover>a{
    color: #e79800;
}



