/*
Credit: http://www.tooplate.com
*/

body {
	margin: 0px;
	padding: 0px;
	color: #333;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #d7eacb;
	background-image: url(images/tooplate_body_top.png);
	background-repeat: repeat-x;
	background-position: top center	
}

a, a:link, a:visited { color: #000; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
em { color: #000; font-weight: bold; font-style: normal }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 28px; margin: 0 0 20px 0; padding: 5px 0 }
h2 { font-size: 25px; margin: 0 0 15px 0; padding: 5px 0; }
h3 { font-size: 22px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { 
	clear: both; 
	display: block; 
	width: 77px; 
	height: 27px; 
	line-height: 27px; 
	font-size: 11px; 
	text-align: center; 
	color: #333; 
	font-weight: 700; 
	background: url(images/tooplate_button.png) no-repeat 
}

a.more:hover { 
	text-decoration: none; 
	color: #000; 
}

.float_l { float: left }
.float_r { float: right }

.image_wrapper { display: inline-block; border: 5px solid #fff; background: none; margin-bottom: 5px }
.image_fl { float: left; margin: 3px 15px 0 0 }
.image_fr { float: right; margin: 3px 0 0 15px }


.tooplate_list { margin: 20px 0 20px 20px; padding: 0; list-style: none }
.tooplate_list li { color:#e98236; margin: 0; padding: 0 0 0 20px; background: url(images/tooplate_list.jpg) no-repeat scroll 0 7px  }
.tooplate_list li a { color: #e98236; font-weight: normal }
.tooplate_list li a:hover { color: #e98236 }

#tooplate_body_wrapper {
	width: 100%;
	background: url(images/tooplate_body_bottom.png) bottom repeat-x
}

#tooplate_wrapper {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto;
}

#tooplate_header {
	width: 900px;
	height: 60px;
	padding: 30px 34px;
}

#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 0; 
	padding: 0 
}

#site_title h1 a { 
	display: block; 
	width: 289px; 
	height: 57px; 
	color: #fff; 
	text-indent: -10000px; 
	background: url(images/tooplate_logo.png)  no-repeat 
}

#twitter a{ 
	float: right; 
	font-weight: normal; 
	display: block; 
	padding: 25px 55px 21px 0; 
	color: #fff; 
	font-size: 18px; 
	background: url(images/twitter.png)  no-repeat right center 
}

/* menu */
#tooplate_menu {
	clear: both;
	width: 900px;
	height: 50px;
	padding: 0 34px;
	background: url(images/tooplate_menu.png) no-repeat 
}

#tooplate_menu ul {
	margin: 0;
	padding: 10px 0;
	list-style: none;
}

#tooplate_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 120px;
	height: 27px;
	padding: 3px 0 0 0;
	margin: 0 1px 0 0;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	color: #333;	
	font-weight: 600;
	letter-spacing: 1px;
	outline: none;
}

#tooplate_menu ul li a:hover, #tooplate_menu ul li .current { color: #000; background: url(images/tooplate_menu_hover.png) bottom center no-repeat }

/* end of menu */

/* slider */

#tooplate_middle { 
	clear: both;
	width: 900px;
	height: 202px;
	padding: 24px 34px;
	background: url(images/tooplate_middle.png) no-repeat
}

#intro { float: right; padding: 0; width: 420px; }
#intro h2 { font-size: 30px; color: #000; margin-bottom: 30px }
#intro p { font-size: 14px; letter-spacing: 1px; word-spacing: 5px; line-height: 24px; color: #333; margin-bottom: 20px }
#intro a.learn_more { display: block; float: right; width: 201px; height: 37px; padding: 13px 0 0 0; font-size: 18px; text-align: center; color: #666; background: url(images/tooplate_learn_more.png) no-repeat }
#intro a.learn_more:hover { text-decoration: none; color: #000; /* text-shadow: 1px 1px 1px #fff */}

#slider {
	float: left;
	width: 400px;
	height: 200px; 
	overflow: hidden;
	border: 1px solid #fff;
}

#tooplate_middle_subpage { 
	clear: both;
	width: 900px;
	height: 120px;
	padding:30px 34px;
	background: url(images/tooplate_middle.png) no-repeat
}

#tooplate_middle_subpage h2 { color: #000 }
#tooplate_middle_subpage p { font-size: 16px; color: #000; line-height: 30px }

/* end of slider */

#tooplate_main {
	clear: both;
	position: relative;
	width: 960px;
	padding: 30px 4px;
	background: url(images/tooplate_content.png) repeat-y
}

span.tm_top { 
	position: absolute; 
	left: -397px; 
	top: 209px; 
	width: 968px; 
	height: 7px; 
	background: url(images/tooplate_content_top.png) no-repeat 
}

.col_w900 { width: 900px; padding: 0 30px; margin-bottom: 50px; }
.col_w580 { width: 580px }
.col_w420 { width: 420px }
.col_w280 { width: 280px }
.col_allw280 { float: left; width: 280px; margin-right: 30px }
.col_w900_last { padding: 0 30px; margin: 0; background: none; }
.col_last { margin: 0; }

.frontpage_box h2 { font-size: 20px; padding: 0; margin-bottom: 5px; color: #76b94b }
.frontpage_box img { float: left; margin-right: 15px }
.frontpage_box a.more { margin-top: 15px }
.tagline { display: block; font-size: 11px; font-weight: bold; font-style: italic; color: #000; margin-bottom: 20px }

.lbe_box { clear: both; margin-bottom: 20px }
.lbe_date { float: left; width: 100px; font-size: 12px; font-weight: bold; }
.lbe_date span { display: block; font-weight: normal; }
.lbe_content { float: right; width: 300px }
.lbe_box h3 { font-size: 16px; margin-bottom: 0 }
.lbe_box h3 a { color: #0e4369; font-size: 16px; font-weight: normal }
.lbe_box h3 a span { font-size: 12px; color: #333 }
.lbe_box p { margin-bottom: 0; }
.lbe_box p.date { font-size: 10px; font-weight: 700; color: #0e4369 }

.lp_frontpage { margin: 0; padding: 0; list-style: none }
.lp_frontpage li { margin: 0; padding: 0; display: inline }
.lp_frontpage li a { float: left; display: block; width: 200px; height: 100px; margin: 0 10px 10px 0 }
.lp_frontpage li a img { width: 190px; height: 90px; border: 1px solid #CCC; padding: 4px; }

.testimonial { 
	position: relative; 
	width: 780px; 
	padding: 0 60px; 
	margin: 0 30px 60px; 
	font-size: 18px; 
	line-height: 30px; 
	letter-spacing: 1px; 
	font-family: Georgia, "Times New Roman", Times, serif; 
	background: url(images/test_left.png) top left no-repeat
}

.testimonial span.close { 
	position: absolute; 
	bottom: 40px; 
	right:0; 
	width: 31px; 
	height: 23px; 
	background: url(images/test_right.png) no-repeat 
}

.clientname { 
	font-size: 18px; 
	font-weight: bold; 
	font-style: italic 
}

.clientname span a { 
	font-size: 14px; 
	font-style: normal; 
	color: #999 
}

.news_box { clear: both; margin-bottom: 30px }
.news_box h2 { font-size: 20px; margin-bottom: 0 }
.news_box p.date { color: #000 }
.news_box img { float: left; width: 100px; height: 100px; padding: 4px; border: 1px solid #000; margin-right: 30px }
.news_box a.more { float: right; }

.post_box { clear: both; margin-bottom: 30px }
.post_box h2 { font-size: 20px; margin-bottom: 10px }
.post_box p.post_meta { margin-bottom: 0; color: #666 }
.post_box p span.cat a { color: #000; font-weight: 400 }
.post_box img { float: left; width: 160px; height: 160px; padding: 4px; border: 1px solid #000; margin-right: 30px }
.post_box a.more { float: right; }

.sb_lp_box { clear: both; margin-bottom: 20px }
.sb_lp_box img { padding: 9px; border: 1px solid #ccc }

#cp_contact_form { padding: 0; width: 400px }
#cp_contact_form form { margin: 0px; padding: 0px; }

#cp_contact_form form .input_field { 
	width: 390px; 
	color: #333; 
	padding: 5px; 
	border: 1px solid #ccc;  
	background: #fff;
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px; 
}

#cp_contact_form form label { 
	display: block; 
	width: 220px; 
	margin-right: 10px; 
	font-size: 13px; 
	color: #000; 
}

#cp_contact_form form textarea { 
	width: 390px; 
	height: 160px; 
	padding: 5px; 
	color: #333; 
	border: 1px solid #ccc;  
	background: #fff; 
	font-family: Verdana,Geneva,sans-serif;
    font-size: 12px;
	margin-top: 5px;
}

#cp_contact_form form .submit_btn  {
	margin: 5px 0px;
	padding: 3px 14px;
	border: 1px solid #ccc;
	background: #DFDFDF;
}

#map img { width: 300px; height: 200px; border: 1px solid #999; padding: 5px }

#gallery { margin: 0; padding: 0 }
#gallery .gallery_box { display: block; width: 420px; margin: 0 0 60px 0; }
#gallery .even { float: left }
#gallery .odd { float: right }
#gallery .gallery_box img { width: 400px; height: 200px; border: 1px solid #ccc; border: 1px solid #ccc; padding: 9px; margin-bottom: 10px; }

#tooplate_footer {
	width: 900px;
	height: 120px;
	padding: 50px 34px;
	text-align: center;
	color: #999;
	background: url(images/tooplate_footer.png) no-repeat top center
}

#tooplate_footer a { color: #333; font-weight: normal }

   
