/* custom styles for law page */

.big .navbar-brand img{
    max-height: 70px;
    margin-top: 15px;
}

.navbar-default .navbar-nav>li>a{
    margin-left: 17px;
}

.navbar-brand img{
    max-height: 55px;
    margin-top: 5px;
}


.mainImg{
    width: 100%;
    position: relative;
    z-index: 0;
}


#lawCarousel img{
    width: 100%;
}


.mainImg:before{
    content: " ";
    position: absolute;
    top:0;
    left: 0;
    width: 200px;
    height: 100px;
    background-color: rgba(52, 73, 94, 0.6);
    z-index: 99;
}

center .mainheading h4{
    text-align: center;
}

center .mainheading span{
    font-size: 20px;
}

center .mainheading span strong{
    font-size: 24;
}


/*floating division styling */

.floatDiv{
    position: absolute;
    right: 15px;
    top: 0px;
    height: 100%;
    padding: 50px 0;
    background: linear-gradient(90deg,transparent,rgba(255,255,255,0.8),rgba(255,255,255,0.8),rgba(255,255,255,0.8),rgba(255,255,255,0.8),rgba(255,255,255,0.8));
}

.deanary{
    text-align: center;
    margin: 20px 0;
    padding: 0 20px;
    cursor: pointer;
}

.deanary>.iconDiv>i{
    background-color: #fff;
    text-align: center;
    padding: 25px;
    border-radius: 50%;
    font-size: 1.6em;
    border: 1px solid #e79800;
    transition: all ease-in-out .3s;
}

.deanary:hover>.iconDiv>i{
    color: #e79800;
    border: 1px solid #c7c7c7;
    box-shadow: 0px 4px 10px #c7c7c7;
}

.deanary>h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    transition: all ease-in-out .3s;    
}

.deanary:hover>h3{
    color: #e79800;
}

.deanary>p{
    font-size: 12px;
    margin: 20px 0;
    font-weight: thin;
    letter-spacing: 1px;
    line-height: 1.6em;
    color: #999;
}

.deanary>a{
    color: #333;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.5px;
    transition: all ease-in-out .3s;
}

.deanary:hover>a{
    color: #e79800;
}

/* custom styles for course Details Divison starts here */

.courseDetails{
    padding-top: 5px;
    min-height: 385px;
}

.courseDetails .filters{
    text-align: right;
    padding: 30px 10px 6px 10px;
}

.courseDetails .filters a{
    color: #333;
    font-size: 16px;
    padding: 8px 25px;
    text-decoration: none;
    cursor: pointer;
    margin: 0 10px;
    margin-top: 10px;
    position: relative;
    border-bottom: 1px solid #777;
    transition: all ease-in-out .3s;
}

.courseDetails .filters a:hover, .courseDetails .filters .active{
    color: #e79800;
    border-bottom: 2px solid #e79800;   
}

.courseDetails .grid{
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: justify;
}

.courseDetails .grid .row{
    padding: 0 15px;
}

.courseDetails .grid h3{
    font-size: 18px;
    font-weight: bold;
}

.courseDetails .grid p{
    font-size: 13px;
    color: #1e1e1e;
}

.courseDetails .grid img{
    width: 100%;
    margin: 0 10px;
}
