
.profile{
    background-color: #fff;
    display: inline-flex;
    margin: 10px;
    box-shadow: 0px 1px 1px 2px #eee;
}
.profile-pic{
    margin: 5px;
    padding: 5px;
    height: auto;
    display: inline-flex;
    
} 
.profile-pic img{
    border-radius: 7px;
    width: 120px;
}
.profile-pic-hr{
    margin: 5px;
    padding: 5px;
    border-right: 2px dashed #ccc;
}
.profile-desc{
    margin: 5px;
    padding: 5px;
}

.prog-row-style{
/*    min-height:300px;*/
    padding:0px;
    visibility: visible;
    animation-name: fadeIn;
    margin-top: -10%;
    margin-left: 6px;
    position: relative;
    background-color: rgba(255,255,255,.5);
}
.pagination {
    float: right;
	margin-right: 10px;
}
/*
#page2,#page3,#page4,#page5 {
    display: none;
}
*/

