

.carousel {
}


.tint{
    background-color: rgba(52,73,94,0.5);
    width: 99%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0px 0.5%;
    z-index: 120;
    box-sizing: border-box;
}


.floatDiv {
    overflow-y: hidden;
    margin-top: -90%;
    position: relative;
    background-color: rgba(42,128,185,1);
    z-index: 150;
    box-shadow: none;
    color: #fff;
    padding: 0px 10px;
}

.innerDiv{
    padding: 10px 10px;
    border-bottom: 1px solid #155b89;
    text-align: justify;
}

.floatDiv .innerDiv h2{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
/*    margin-bottom: 20px;*/
    text-transform: uppercase;
    
}

.floatDiv .innerDiv p{
    font-size: 14px;
}